* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.1;
  background-color: #f6f6f6;
}
.my-container {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  padding: 0 15px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}

.box1 {
  background-color: #321fee;
}
.box2 {
  background-color: #4ff333;
}
.box3 {
  background-color: #32eff3;
}
.box4 {
  background-color: #213f64;
}
.box5 {
  background-color: #3f5524;
}
.image-box {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  position: relative;
  margin: 10px;
  flex: 0.5;
  overflow: hidden;
  transition: flex 0.7s ease-in;
}
.image-box:first-child {
  margin-left: 0;
}
.image-box:last-child {
  margin-right: 0;
}
.image-box h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
}
.image-box.active {
  flex: 5;
}
.image-box.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

/* media quires */

@media (max-width: 600px) {
  .my-container {
    padding: 0 10px;
  }
  .box4,
  .box5 {
    display: none;
  }
}
