/* font import */

@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-Light;
  src: url(../fonts/Montserrat/static/Montserrat-Light.ttf);
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
/*  global code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto-Regular", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #83a7a5;
}

a {
  text-decoration: none;
  color: #fff;
  transition: ease-in-out 0.3s;
}
a:hover {
  transition: ease-in-out 0.3s;
  opacity: 0.75;
}
img {
  display: block;
}
h2 {
  font-family: "Roboto-Light", Helvetica, sans-serif;
}

/* global components */
.my-container {
  max-width: 1056px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn-sm {
  padding: 10px 14px;
  text-transform: capitalize;
  color: #fff;
  background-color: #6c8181;
  border-radius: 5px;
  font-size: 12px;
}
.btn-mid {
  padding: 16px 44px;
  background-color: #6fb048;
  text-transform: capitalize;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
}
.price-btn {
  padding: 17px 25px;
  background-color: #83a7a5;
  text-transform: uppercase;
  transition: ease-in-out 0.3s;
  font-size: 13px;
  border-radius: 5px;
  display: block;
}
.price-btn:hover {
  background-color: #6fb048;
  transition: ease-in-out 0.3s;
}
.btn-large {
  padding: 16px 23px;
  background-color: #6fb048;
  transition: ease-in-out 0.3s;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5px;
  display: block;
  font-size: 13px;
}
.btn-large:hover {
  transition: ease-in-out 0.3s;
  background-color: #83a7a5;
}
/* header */
.burger {
  display: none;
}
.main-header {
  background: url("../images/home-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-flex {
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-left-con {
  display: flex;
  align-items: center;
}
.header-left-con img.brand-logo {
  max-width: 90px;
  height: 20px;
  vertical-align: middle;
}
.header-left-con a.logo-link {
  padding-right: 1.5rem;
  border-right: 1px solid #d8d8d8;
}
.header-left-con a.contact-details {
  padding-left: 1.5rem;
  font-size: 13px;
}
.header-left-con img.phone-logo {
  padding-right: 0.438rem;
  vertical-align: middle;
  display: inline-block;

  max-width: 21px;
  height: 14px;
}

/* nav-bar */
.header-right-con nav ul {
  list-style-type: none;
}
.header-right-con nav ul li {
  display: inline-block;
  margin-left: 1.875rem;
}
.header-right-con nav ul li a {
  text-transform: uppercase;
  font-size: 13px;
}
.header-content {
  padding: 200px 0;
  max-width: 510px;
}
.header-content h1 {
  font-size: 38px;
  margin-bottom: 1.188rem;
  color: #f5f7f7;
}
.header-content p {
  font-size: 16px;
  color: #f5f7f7;
  margin-bottom: 1.438rem;
}

/* features section */
#feature-section {
  padding: 96px 0 125px;
}
.fs-heading-section h2 {
  font-size: 32px;
  color: #0f5f5c;
  padding-bottom: 15px;
  position: relative;
}
.fs-heading-section h2::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  background: #6fb048;
  bottom: 0px;
  transform: translate(-50%, 0);
  left: 50%;
}
.fs-heading-section p {
  font-size: 15px;
  color: #83a7a5;
  margin: 26px auto 70px;
}
span.block {
  display: block;
}
.fs-sp-sec h3,
.fs-s3-container h3 {
  font-size: 16px;
  color: #0f5f5c;
}
.fs-sp-sec p,
.fs-s3-container p {
  font-size: 14px;
  color: #83a7a5;
}
.fs-heading-section {
  text-align: center;
}
.fs-sp-sec {
  display: flex;
  text-align: center;
  margin-bottom: 150px;
}
.sp-col-4 {
  margin-right: 15px;
}
.sp-col-4:nth-child(3) {
  margin-right: 0;
}
.sp-col-4 img {
  display: block;
  margin: 0 auto;

  max-width: 56px;
  height: 65px;
  object-fit: contain;
}
.fs-sp-sec h3 {
  padding: 22px 0;
}
.fs-s3-container {
  display: flex;
}
.fs-s3-content {
  flex: 1;
}
.fs-s3-content:first-child {
  margin-right: 15px;
}
.icon-text-sec {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.icon-text-sec img {
  display: block;

  max-width: 38px;
  height: 38px;
  object-fit: contain;
  margin-right: 23px;
}
#feature-section .my-container .fs-s3-container:nth-child(3) {
  margin-bottom: 55px;
}
.fs-s3-container p {
  max-width: 485px;
}

/* template-section */
#template-section {
  background-color: #eef1ec;
}
#template-section .fs-heading-section h2 {
  padding-top: 75px;
}
#template-section .fs-heading-section p {
  margin-bottom: 25px;
}
.handmobile-text-flex-container {
  display: flex;
  align-items: center;
}
.handmobile-con {
  margin-right: 33px;
  flex: 1;
}
.hm-text-con {
  flex: 1;
}
.handmobile-con img {
  /* width: 100%; */
  max-width: 413px;
  height: 409px;
  object-fit: contain;
}
.hm-text-con h2 {
  font-size: 32px;
  color: #0f5f5c;
}
.hm-text-con p {
  font-size: 14px;
  color: #83a7a5;
  margin: 25px 0;
}
.hm-text-con ul {
  list-style-type: none;
}
.hm-text-con ul li {
  font-size: 14px;
  color: #83a7a5;
  position: relative;
  padding-left: 33px;
  margin-bottom: 15px;
  background: url(../images/right.png) no-repeat;
  line-height: 26px;
}
/* .hm-text-con ul li::before {
  content: "";
  position: absolute;
  background-image: url("../images/right.png");
  width: 25px;
  height: 25px;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
} */

/* testimonial-section */
.testimonial-flex-container {
  display: flex;
  padding: 140px 0;
  align-items: center;
  justify-content: space-between;
}
p.testimonial-desc {
  font-size: 22px;
  color: #83a7a5;
  margin-bottom: 35px;

  max-width: 462px;
}
p.testimonial-name {
  font-size: 14px;
  color: #6fb048;
}
p.testimonial-job-profile {
  font-size: 14px;
  color: #83a7a5;
}
.testimonial-image-container img {
  max-width: 400px;
  height: 405px;
}
/* world-map-section */
#world-map-section {
  background-image: url("../images/world-bg-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.world-map-content {
  padding: 155px 0; /* 165px */
}
.world-map-content h2 {
  font-size: 32px;
}
.world-map-content p {
  font-size: 14px;
  margin-top: 22px;

  max-width: 500px;
}
/* pricing section */
#pricing-plan-section {
  padding: 95px 0 75px;
}
#pricing-plan-section .fs-heading-section p {
  max-width: 510px;
}
.pricing-plan-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.pp-col-4 {
  border: 1px solid #c1d3d2;
}
.pp-col-4:nth-child(2) {
  border-left: unset;
  border-right: unset;
}

.pp-col-4 .pp-content {
  padding: 28px 60px;
}
.pp-col-4 p.plan {
  font-size: 15px;
  font-family: "Roboto-Medium";
  color: #6fb048;
}
.pp-col-4 p.price {
  font-size: 65px;
  font-family: "Roboto-Regular";
  color: #0f5f5c;
  line-height: 1.025;
  margin: 25px 0 0 0;
}
.pp-col-4 small {
  color: #0f5f5c;
  font-size: 14px;
  font-family: "Roboto-Regular";
}
.pp-content p {
  font-size: 14px;
  font-family: "Roboto-Regular";
  color: #83a7a5;
}
.pp-content p:nth-child(4) {
  margin-top: 25px;
  margin-bottom: 5px;
}
.pp-content p:nth-child(5),
.pp-content p:nth-child(6) {
  margin: 5px 0;
}
.pp-content p:nth-child(7) {
  margin: 5px 0 25px;
}
/* plans section */
.fs-heading-section h2.included-plan-title {
  font-size: 22px;
}
.ul-plans-container {
  padding: 40px 0 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.ul-plans-container ul {
  list-style-type: none;
  margin-right: 10px;
}
.ul-plans-container ul:nth-child(3) {
  margin-right: 0;
}
.ul-plans-container ul li {
  font-size: 14px;
  color: #83a7a5;
  position: relative;
  padding-left: 33px;
  margin-bottom: 10px;
  background: url(../images/right.png) no-repeat;
  line-height: 26px;
}

/* need help section */
.cirle-with-shades {
  max-width: 44px;
  height: 44px;
  margin: 0 auto 10px;
}
#need-help-section .fs-heading-section p {
  max-width: 550px;
  margin-bottom: 38px;
}
#need-help-section a {
  color: #0f5f5c;
  font-size: 18px;
  text-align: center;
  display: block;
  margin-bottom: 95px;
}
/* download section */
#download-section {
  background-image: url("../images/blur-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.download-container {
  padding: 75px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* footer */
.footer-content {
  padding: 98px 0 61px;
  display: flex;
  justify-content: space-between;
}
.footer-col-4 a img {
  margin-bottom: 25px;
}
.footer-col-4 p {
  font-size: 13px;
  font-family: "Roboto-Medium";
  color: #0f5f5c;
  margin-bottom: 25px;
}
.footer-col-4 ul {
  list-style: none;
}
.footer-col-4 ul li,
.footer-col-4 ul li a {
  font-size: 13px;
  color: #83a7a5;
}
.footer-col-4 ul li {
  margin-bottom: 15px;
}
input[type="email"] {
  padding: 13px 16px;
  width: 240px;
  color: #83a7a5;
  font-size: 13px;
  background-color: #eef1ec;
  border: 1px solid #eef1ec;
  border-radius: 5px;
  position: relative;
  background: url("../images/paper-plane.png") no-repeat 92%;
}
/* input[type="email"]::after {
  content: "";
  position: absolute;
  background: url("../images/paper-plane.png");
  width: 18px;
  height: 18px;
} */
input:focus {
  border: 1px solid #0f5f5c;
  outline: 0;
}
/* social-media */
.copyright-social-media-container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright-social-media-container p {
  font-size: 12px;
  color: #83a7a5;
}
.social-media-con {
  display: flex;
  align-items: center;
}
.social-media-con a {
  margin-left: 10px;
}
/* media quires */
@media (max-width: 895px) {
  .my-container {
    padding: 0 15px;
    overflow-x: hidden;
  }
  .fs-heading-section p {
    margin: 25px auto 30px;
  }
  /* nav links */
  .main-header {
    overflow-x: hidden;
    position: relative;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .burger div {
    width: 25px;
    height: 4px;
    background-color: #fff;
    margin: 3px;
  }
  .header-flex {
    height: 9vh;
  }

  .header-right-con nav ul {
    position: absolute;
    top: 9vh;
    right: 0;
    width: 50%;
    height: 37vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    background-color: rgb(65, 123, 125, 0.7);
  }
  .header-right-con nav ul.nav-active {
    transform: translateX(0);
  }
  .header-right-con nav ul li {
    opacity: 0;
    display: block;
  }
  .header-content {
    padding: 185px 0;
    max-width: 510px;
  }
  /* template-section */
  .handmobile-text-flex-container {
    flex-direction: column;
  }
  .handmobile-con img {
    max-width: 300px;
    height: 300px;
  }
  .handmobile-con {
    margin-right: 0;
  }
  .hm-text-con {
    margin: 25px 0;
  }
  /* testimonial-section */
  .testimonial-flex-container {
    flex-direction: column-reverse;
    padding: 80px 0;
  }
  p.testimonial-desc {
    max-width: 100%;
    margin: 10px 0;
  }
  .testimonial-image-container img {
    max-width: 300px;
    height: 300px;
  }
  /* world-map-section */
  #world-map-section {
    background-position: left center;
  }
  .world-map-content {
    padding: 80px 0;
  }
  .world-map-content p {
    max-width: 100%;
  }
  /* pricing-plan-section */
  #pricing-plan-section {
    padding: 40px 0;
  }
  .pp-col-4 {
    margin: 15px;
  }
  .pp-col-4:nth-child(2) {
    border-right: 1px solid #c1d3d2;
    border-left: 1px solid #c1d3d2;
  }
  /* download-container */
  .download-container {
    padding: 40px 0;
    flex-direction: column;
  }
  .download-content {
    margin-bottom: 20px;
  }
  /* footer-content */
  .footer-content {
    padding: 70px 0 50px;
    flex-wrap: wrap;
  }
  .footer-content .footer-col-4 {
    width: 50%;
    padding: 15px 15px 15px 0;
  }
}
/* media query 600px */
@media (max-width: 600px) {
  /* header-content */
  .header-content {
    padding: 80px 0;
  }
  .header-flex {
    height: 12vh;
  }
  .header-left-con {
    flex-direction: column;
  }
  .header-left-con a.logo-link {
    border-right: unset;
    padding-right: unset;
  }
  .header-right-con nav ul {
    top: 12vh;
  }
  .header-left-con a.contact-details {
    padding-left: unset;
    display: none;
  }
  /* feature-section */
  #feature-section {
    padding: 70px 0;
  }
  #feature-section .fs-heading-section p span.block {
    display: inline;
  }
  .fs-sp-sec {
    flex-direction: column;
    margin-bottom: 70px;
  }
  .fs-sp-sec .sp-col-4 {
    margin-bottom: 40px;
  }
  .fs-s3-container {
    flex-direction: column;
  }
  .fs-s3-content:first-child {
    margin-right: 0;
    margin-bottom: 40px;
  }
  #feature-section .my-container .fs-s3-container:nth-child(3) {
    margin-bottom: 40px;
  }
  /* template-section */
  #template-section .fs-heading-section h2 {
    padding-top: 40px;
  }
  .handmobile-con img {
    max-width: 100%;
  }
  /* need-help-section */
  .ul-plans-container {
    grid-template-columns: 1fr;
  }
  .ul-plans-container ul {
    margin-right: 0;
  }
}
/* media query 414px */

@media (max-width: 414px) {
  /* footer-content */

  .footer-content .footer-col-4 {
    padding: 15px 15px 15px 0;
  }
  .copyright-social-media-container {
    flex-direction: column;
  }
  .copyright-social-media-container p {
    margin-bottom: 15px;
  }
}

/* animation */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
